$main-text-color: white;
$main-link-color: red;
$main-background-color: black;

body {
    color: $main-text-color;
    background-color: $main-background-color;
}

a {
    color: $main-link-color;
    text-decoration: underline;
}