$main-text-color: white;
$main-background-color: black;

$red-color: rgb(170, 29, 38);
$green-color: rgb(5, 163, 111);
$blue-color: rgb(48, 118, 197);

@font-face {
    font-family: 'Game';
    src: url('~@/assets/game.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: $main-text-color;
    background-color: $main-background-color;
}

a {
    color: $red-color;
    text-decoration: underline;
}

.menu-title {
    color: $blue-color;
    text-decoration: underline;
}

.casper {
    visibility: hidden;
}
